@import "src/styles/variables";
@import "src/styles/typography";

.like-page {
  &__loader {
    padding-bottom: m-percentage(360, 640);
    padding-top: 0;

    .loader {
      position: absolute;
      top: 35%;
    }
  }
}
