@import "src/styles/typography";

.aside {
  min-height: 100vh;
  padding: 30px;
  position: sticky;
  top: 0;
  align-self: start;

  @media only screen and (max-width: $bp-large) {
    position: relative;
    align-self: stretch;
    top: auto;
  }

  @media only screen and (max-width: $bp-small) {
    padding: 18px;
  }

  &__container {
    max-width: 446px;
    margin: 0 auto;

    @media only screen and (max-width: $bp-large) {
      max-width: 100%;
    }
  }

  &__content {
    margin-top: 80px;
  }

  &__title {
    margin-bottom: 10px;
  }

  &__welcome {
    @include paragraph;

    margin-bottom: 60px;
  }

  &__paragraph {
    @include paragraph($color-text);

    font-weight: 500;
    margin-bottom: 20px;
  }
}
