@import "src/styles/variables";
@import "src/styles/functions";

.home-page {
  &__container {
    min-height: 100%;
    overflow: hidden;
  }

  &__content {
    position: relative;
    flex-grow: 1;
    min-height: 100%;
    border-radius: 20px;
    background-color: $color-light-pink;

    img {
      position: absolute;
      top: 56%;
      left: 50%;
      transform: translate(-50%, -50%) scale(1.14);
      width: 100%;
    }
  }
}

.dark-theme {
  .home-page__content {
    background-color: rgba($color-white, 0.1);
  }
}
