$color-black: #1D1D1D;
$color-white: #fff;
$color-background-grey: #efecec;
$color-text-grey: #8C8C8C;
$color-purple: #B4B7FF;
$color-green: #97EAB9;
$color-yellow: #FFD280;
$color-pink: #FF868E;
$color-light-pink: #FBE0DC;
$bp-extra-large: 1350px;
$bp-large: 1200px;
$bp-medium: 990px;
$bp-medium-small: 800px;
$bp-small: 650px;
$bp-extra-small: 450px;
