:root {
  --color-bg-light: #e5e5e5;
  --color-bg-dark: #1d1d1d;
  --color-text-light: #1d1d1d;
  --color-text-dark: #fff;
  --color-form-elem-light: #fff;
  --color-form-elem-dark: rgb(255 255 255 / 5%);
}

.light-theme {
  --color-bg: var(--color-bg-light);
  --color-text: var(--color-text-light);
  --color-form-elem: var(--color-form-elem-light);
}

.dark-theme {
  --color-bg: var(--color-bg-dark);
  --color-text: var(--color-text-dark);
  --color-form-elem: var(--color-form-elem-dark);
}

$color-black: #1d1d1d;
$color-white: #fff;
$color-text-grey: #8c8c8c;
$color-light-grey: #f8f8f7;
$color-bg-light: #e5e5e5;
$color-purple: #b4b7ff;
$color-green: #97eab9;
$color-yellow: #ffd280;
$color-pink: #ff868e;
$color-light-pink: #fbe0dc;
$color-background: var(--color-bg);
$color-text: var(--color-text);
$color-form-elem: var(--color-form-elem);
$bp-large: 1100px;
$bp-medium: 600px;
$bp-small: 450px;
