@import "src/styles/variables";
@import "src/styles/functions";

.user-actions {
  display: inline-flex;
  background-color: $color-white;
  border: 4px solid $color-white;
  border-radius: 20px;
  overflow: hidden;
  gap: 4px;

  &__btn {
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    color: $color-white;

    &:not(:disabled) {
      transition: all 0.2s;

      &:nth-child(1) {
        background-color: $color-green;

        &:hover {
          background-color: m-darken($color-green, 10%);
        }

        &:active {
          background-color: m-darken($color-green, 20%);
        }
      }

      &:nth-child(2) {
        background-color: $color-pink;

        &:hover {
          background-color: m-darken($color-pink, 5%);
        }

        &:active {
          background-color: m-darken($color-pink, 10%);
        }
      }

      &:nth-child(3) {
        background-color: $color-yellow;

        &:hover {
          background-color: m-darken($color-yellow, 10%);
        }

        &:active {
          background-color: m-darken($color-yellow, 20%);
        }
      }
    }

    &:disabled {
      cursor: not-allowed;
      background-color: $color-light-pink;
    }

    @media only screen and (max-width: $bp-medium) {
      width: 60px;
      height: 60px;
    }
  }
}

.dark-theme {
  .user-actions {
    border-color: $color-black;
  }
}
