@import "src/styles/variables";
@import "src/styles/functions";

.voting {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  &__container {
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-grow: 1;
  }

  &__content {
    border-radius: 20px;
    padding: 20px;
    flex: 1;
    background-color: $color-form-elem;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__loader {
    padding-bottom: m-percentage(360, 640);
    padding-top: 0;

    .loader {
      position: absolute;
      top: 35%;
    }
  }

  &__image {
    position: relative;

    &-container {
      padding-bottom: m-percentage(360, 640);
      position: relative;
      overflow: hidden;
      border-radius: 20px;
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      object-fit: cover;
      width: 100%;
      height: 100%;
    }

    &-controls {
      position: absolute;
      z-index: 10;
      left: 50%;
      bottom: 0;
      transform: translate(-50%, 50%);
    }
  }

  &__logs {
    margin-top: 52px;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 10px;
  }
}
