@import "src/styles/variables";

.select {
  &__dropdown-indicator {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $color-text-grey;
  }

  &__control {
    caret-color: transparent;

    &--is-focused {
      border-color: $color-pink !important;
    }
  }
}

.dark-theme {
  .select {
    &__control {
      background-color: rgba($color-white, 0.05);
      border-color: $color-purple;
    }

    &__input-container,
    &__single-value {
      color: $color-white;
    }

    &__menu {
      background-color: $color-light-pink;
    }

    &__option {
      background-color: $color-light-pink;
    }
  }
}
