@import "src/styles/variables";

.loader {
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;

  &--large {
    width: 100px;
    height: 100px;
    border-top: 8px solid $color-light-pink;
    border-right: 8px solid transparent;

    @media only screen and (max-width: $bp-small) {
      width: 64px;
      height: 64px;
      border-top: 4px solid $color-light-pink;
      border-right: 4px solid transparent;
    }
  }

  &--small {
    width: 16px;
    height: 16px;
    border-top: 2px solid $color-light-pink;
    border-right: 2px solid transparent;
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
