@import "src/styles/variables";

.search-page {
  &__results-info {
    font-size: 20px;
    line-height: 30px; 
    font-weight: 400;
    color: $color-text-grey;

    span {
      font-weight: 500;
      color: $color-text;
    }
  }
}
