@import "src/styles/variables";

.actions-line {
  display: flex;
  align-items: center;
  gap: 10px;

  &__search {
    flex-grow: 1;
  }

  &__nav-buttons {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 10px;
  }
}
