@import "src/styles/variables";

.actions-line {
  display: flex;
  align-items: center;
  gap: 10px;

  @media only screen and (max-width: $bp-large) {
    display: grid;
    grid-template-columns: 1fr;
  }

  &__search {
    flex-grow: 1;

    @media only screen and (max-width: $bp-large) {
      grid-row: 2 /3;
    }
  }

  &__nav-buttons {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 10px;

    @media only screen and (max-width: $bp-large) {
      grid-row: 1 / 2;
      width: 100%;
    }
  }

  &__menu-btn {
    margin-right: auto;
  }
}

.mobile-nav {
  padding: 100px 0;
}

.modal.modal--dark {
  .mobile-nav {
    .nav__link {
      .nav__card-text {
        background-color: rgba($color-white, 0.1);
      }
    }

    .nav__link.nav__link--active {
      .nav__card-text {
        background-color: $color-pink;
      }
    }
  }
}
