@import "src/styles/variables";


.wrapper {
  background-color: $color-background;

  &__container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 0.514fr 0.4862fr;
    
  }
}

